@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    @apply w-full px-3 py-2 border rounded bg-gray-50;
}


/* Modern thin scrollbar styling */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
}